/*
  STYLE GUIDE STYLING 
*/
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  background-color: #f7f7f7;
}

a{
  text-decoration: none;
  color: black;
}

section:not([id]) {
  padding: 0.5em 0;
}


#hero-hammock{
  width: 100%;
  display:inline-block;
  position: relative;
}

#hero-hammock img {
  width: 100%;
  display: block;
}

.hero-padding{
  width: 30%;
  position: absolute;
  left: 8vw;
  top: 8vw;
}

@media (max-width: 45em) {

  .hero-padding{
    width: 100%;
    text-align: center;
    padding: 0 3vw 0 3vw;
    left: 0;
    top: 5vw;
  } 

}

#explore-main{

}

.explore-container {
  margin: auto;
  width: 80%;
}

.photo-grid-container{
  margin: auto;
  padding-top: 2rem;
  width: 70%;
  clear:both;
}



.photo-grid-container img{
  padding: 1rem;
}



.product-description, .product-extra-info, .product-cart-button,
.review-section {
  clear:left;
  text-align: left;
  margin: auto;
  width: 70%;
  line-height: 1.7em;
}

.product-extra-info img {
  margin-top: 1em;
  width: 40%;
}

.product-cart-button {
  margin-top: 2em;
}

.review-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.BLAH {
  text-align: center;
  margin: auto;
  width: 20%;

}

#footer {
  background:#EEE;
  display: block;
  width:100%;
  height:20em;
  margin-top: 5em;
  clear: both;

}

.footer-container {
  margin:auto;
  padding-top: 3em;
  width: 60%;

}

.contact-container {
  clear:left;
  text-align: left;
  margin: auto;
  width: 70%;
  line-height: 1.7em;
}

.image-product-detail {
  height: auto;
}

}

.redcolor, .bluecolor {
  display: inline-block;
  margin: 0.3em 0.3em 0 0;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  text-align: left;
}

.redcolor{
  background-color: red;
}

.bluecolor {
  background-color: #4A90E2;
}

form {
  font-family:'Karla', sans-serif;  
}

textarea {
  outline: none;
  border: 2px solid #333;
  background-color: #f7f7f7;
}


.product-listing{
    position: relative;

}



.product-listing img{
    margin: 1em;
    width: 50%;
    transition: all .5s ease;

}

.product-listing-caption{
    position: absolute;
    width: 42%;
    right: 2em;
    top: 1vw;

}

.explore-listing{
    position: relative;

}

.explore-listing img{
    margin: 1em;
    width: 70%;
    transition: all .5s ease-out;
}

.cart{
    background: white;
    margin:2em;
    padding: 2em;
}

.cart img{
    width: 6rem;
}


.divider-line{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #a0a0a0 solid;
    padding: 1rem 0 1rem 0;
}

.cart-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0 1rem 0;
    text-align: right;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}


.cartstuff-container{
    padding: 3rem 0 3rem 2rem;
}

.cart-total{
    padding: 0 0 2rem 0;
}

.float-left{
    float: left;
    display: inline;
}
>>>>>>> Stashed changes


/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

section h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700; 
  font-size: 2.5em;
  color: #333;
  text-transform: uppercase;
}

section h2.style1, section h2.style2 {
  font-family: 'Karla', serif;
  font-weight: 700;
  font-size: 3.4em;
  margin: 0;
}

section h2.style1 {
  color: white;
  padding: 0;
}
section h2.style2 {
  text-align: center;
  color: #000;
  padding-top: 0.75em;
  line-height: 1.1em;
}

section h3.style1, section h3.style2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .05em;
  line-height: 1.6rem;
  color: white;
  margin: 01em 0 0.5em 0;
}


section h3.style1 {
  color: white;
}

section h3.style2 {
  text-align: center;
  color: #000;
}

@media (max-width: 35em) {

  section h2{
    font-size: 2rem;
  } 

  section h3{
    font-size: .9rem;
  } 

}



section h4, section h4.style2 {
  font-family: 'Roboto-medium', sans-serif;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: #3d3d3d;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}


section h4.style2 {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

section h4.style2:hover {
  color: #FB5A5A;
    cursor: pointer;
}

section h5 {
  font-family: 'Roboto-medium', sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding:0;
}

section p {

    margin: 1em;
    font-size: .75rem;
    line-height: 1.8em;
}

section p.style2{
  margin: 2em auto 5em auto;
  font-size: .8em;
}

.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

figure {
    display: inline;
    float: left;
    margin: 0;
    width: 100%;
}


.product-listing-background{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2vw;
    z-index: -1;
    padding-bottom: 2em;
    margin-right: 1em;
    background-image: linear-gradient(to right,transparent 0.1%, #FB5A5A 0.1%, #FB5A5A 50%, transparent 50%, transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease;
    
}

.explore-background{
    position: relative;
    top: 1rem;
    left: 0;
    width: 105%;
    z-index: -1;
    padding: 1em 2em 1em 2em;
    margin-right: 1em;
    background-image: linear-gradient(to right,transparent 0.1%, #FB5A5A 0.1%, #FB5A5A 50%, transparent 50%, transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease;
}

@media (max-width: 70em) {
    
    .explore-background{
        height:30vw;
    }
}

.caption-z{
    z-index: 10;
}

@media (max-width: 90em) {
    
    .product-listing-background{
            margin-top: 5vw;
            margin-right: 3em;


    }

}

.product-listing:hover .product-listing-background{
    background-position: 0 0;
    color: white;
    
}

.explore-listing-hover p{
     transition: all .5s ease;
}

.explore-listing-hover:hover .explore-background{
    background-position: 0 0;
}

.explore-listing-hover:hover p{
    color: white;
}


.product-listing:hover img{
    cursor: pointer;
    -webkit-filter: sepia(.5) hue-rotate(-30deg);
    filter: sepia(.5) hue-rotate(-30deg);
}

.explore-listing img:hover{
    cursor: pointer;
    -webkit-filter: sepia(.5) hue-rotate(-30deg);
    filter: sepia(.5) hue-rotate(-30deg);
}




.product-listing{
    position: relative;
}



.product-listing img{
    margin: 1em;
    width: 50%;
}

.product-listing-caption{
    width: 42%;
    right: 2em;
    top: 1rem;
    margin-right: 2em;

}


    
figcaption, h3.figure {

  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  margin-top: 0em;
  padding: 0vw 1rem 0 0; 
  z-index: 1000;

}

@media (max-width: 60em) {
    
    .product-listing-background{
      margin-top: 1.2vw;      

    }
}

@media (max-width: 30em){
    
    .product-listing-background{
      margin-top: 2vw;      

    }
}

.grid-col-12of12 figcaption{
    position: relative;
    left:-12rem;
    width: 125%;
    font-size: 2.5rem;
    padding-top: 4vw;
}

.grid-col-6of12 figcaption{
    position: relative;
    left:-12rem;
    width: 125%;
    font-size: 2.2rem;
    padding-top: 3vw;
}






.explore-listing p{
    font-size: .9rem;
}


h3.figure {
    display: inline;
}

ul{
  list-style-type: none;
  list-style-position:inside;
  margin-left:0;
  padding:0;
}

li {
  margin-top: 0.7em;
}

ul.test {
  list-style-type: none;
  list-style-position:inside;
  margin-left:0;
  padding:0;
  text-align: center;
}

li.test {
  margin: 0;
}


ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

#myTopnav{
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.button-nav {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .15rem;
  padding: 1rem .75rem 1rem .75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}

.box-item-hamburger{
  display: none;
}

  .box-item-logo{
    margin: 0 0 0 2rem;
  }

@media (max-width: 35em) {

  .box-item-hamburger{
    display:inline; 
  }

  #myTopnav{
    display: none;
    width: 100%;
  }

  .button-nav {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    display: block;
  }



}


.nav-main-item {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.product-listing{
    position: relative;
    padding-right: 2rem;
}



.product-listing img{
    margin: 1em;
    width: 50%;
}

.product-listing-caption{
    position: absolute;
    width: 42%;
    right: 2em;
    top: 1vw;

}

.button-nav:active, .button-nav:hover, .button-nav:focus, 
.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
  -webkit-transition: color 0.4s;
  color: #FB5A5A;
}

.textlink {
  color: #FB5A5A;
}

.button {
  display: inline-block;
  border: 2px solid white;
  margin-top: 1em;
  padding: 1em 2em;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s ease-out;
}

.explore-listing .button{
    color:#2b2b2b;
      border: 2px solid #939393;
}

.button-dark {
  display: inline-block;
  border: 2px solid black;
  padding: 1em 2em;
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15rem;
   -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s ease-out;    
}

.button-red{
  display: inline-block;
  padding: 1em 2em;
  background-color: #FB5A5A;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15rem;
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s ease-out;
}

.button-red:hover{
  background-color: #F5F5F5;
  color: #FB5A5A;
}

.button:hover {

  background-color: #F5F5F5;
  color: #FB5A5A;
}

.button-dark:hover {

  background-color: #F5F5F5;
  color: #FB5A5A;
  border-color: #FB5A5A;
}

input.quantity, input.newsletter {
  display: inline-block;
  border: 2px solid #333;
  background-color: #f7f7f7;
  font-family:'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin: 1em 1em 0 0;
  padding: 1em 1em;
  color: black;
  letter-spacing: .15rem;
}

input.quantity {
  resize: horizontal;
  width: 4em;
  text-align: center;
}

input.newsletter {
  width: 25em;
  text-align: left;
}


input.quantity:focus, input.newsletter:focus {
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
  outline-width: 0;
  border-color: #FB5A5A;
}




/* 
  COMBINED ELEMENTS -------------------
*/

img {
    height: auto;
    width: auto;
    max-width: 100%;
        float: left;

}