/*
  STYLE GUIDE STYLING 
*/
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  background-color: #f7f7f7;
}

a{
  text-decoration: none;
  color: black;
}

section:not([id]) {
  padding: 0.5em 0;
}

.header-logo{
    height: 6vw;
    margin: 1rem 0 1rem 0;
}

@media (min-width: 68em){
    .header-logo{
        margin: 1rem 0 1rem 0;
        height:4vw;
    }
}

#hero-hammock{
  width: 100%;
  display:inline-block;
  position: relative;
  background: black;
}

#hero-hammock img {
  width: 100%;
  display: block;
  opacity: .8;
}

.hero-padding{
  width: 40%;
  position: absolute;
  left: 8vw;
  top: 8vw;
}

@media (max-width: 45em) {

  .hero-padding{
    width: 100%;
    text-align: center;
    padding: 0 3vw 0 3vw;
    left: 0;
    top: 5vw;
  } 
    
  #hero-hammock img{
    opacity: 0.7;
    }

}

#explore-main{

}

.explore-container {
  margin: auto;
  width: 80%;
}

.photo-grid-container{
  margin: auto;
  width: 80%;
  clear:both;
}

.product-detail-container{
  width: 95%;
}

.photo-grid-container img{
  padding: 1rem;
  max-width: 100%;
}

.image-icon {
  width: 1.4rem;
  position: absolute;
  float: right;
}

.review-section{
  clear: left;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  line-height: 1.7em;
}

#reviews{
  margin-top: 2em;
}

.review-section h2{
  font-family:'Karla', sans-serif; 
  font-size: 1.2rem;
  text-transform: uppercase; 
  margin: 1rem 0 1.5rem 0;
}

.overflow{
  overflow-x: scroll;
}

.product-description, .product-extra-info, .product-cart-button {
  clear:left;
  text-align: left;
  margin: auto;
  width: 70%;
  line-height: 1.7em;
}

.product-extra-info img {
  width: 30%;
  margin: 1rem 1rem 2.5rem 0;
}

.product-extra-info h3{
  font-family: 'Karla';
  text-transform: uppercase;
}

.product-extra-info:hover h4{
  color: #FB5A5A;
}

.product-cart-button {
  margin-top: 2em;
}


.BLAH {
  text-align: center;
  margin: auto;
  width: 20%;

}



#footer {
  background:#EEE;
  display: block;
  width:100%;
  height:20em;
  margin-top: 5em;
  clear: both;

}

.footer-container {
  margin:auto;
  padding-top: 3em;
  width: 60%;

}

.contact-container {
  clear:left;
  text-align: left;
  margin: auto;
  width: 70%;
  line-height: 1.7em;
}

.image-product-detail {
  height: auto;
}

#product-detail{
  position: relative;
  clear: left;
}

.clear { clear: left; }


.redcolor, .bluecolor {
  display: inline-block;
  margin: 0.3em 0.3em 0 0;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  text-align: left;
}

.redcolor{
  background-color: red;
}

.bluecolor {
  background-color: #4A90E2;
}

form {
  font-family:'Karla', sans-serif; 
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  text-transform: uppercase; 
}

label {
  font-family: 'Karla', sans-serif;
  display: block;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}

textarea {
  outline: none;
  border: 2px solid #333;
  background-color: #f7f7f7;
}


.product-listing{
    position: relative;

}



.product-listing img{
    margin: 1em;
    width: 50%;
    transition: all .5s ease;

}

.product-listing-caption{
    position: absolute;
    width: 42%;
    right: 2em;
    top: 1vw;

}

.explore-listing{
    position: relative;
    padding-right: 2rem;

}

.explore-listing img{
    margin: 1em;
    width: 70%;
    transition: all .5s ease-out;
}

.cart, .cart-review{
    background: white;
    margin:2em;
    padding: 2em;
}

.cart img{
    width: 6rem;
}

.cart-review img {
  width: 16rem;
}

#more-explore{
  clear: both;
  padding-top: 3rem;
}

.header-background-box{
    position: relative;
        clear: left;

    padding: 0;
    color: black;
    width: 100%;
    margin: 2rem 0 7rem 0;
}

.header-subhead{
    z-index: -1;
    padding: 1.5rem 4rem 1.5rem 5rem;
    background-color: #FB5A5A;
    position: absolute;
    margin-top: 2rem;
    left: 0rem;
    top: 0rem;
    color: white;
    width: 80%;
}

.divider-line{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #a0a0a0 solid;
    padding: 1rem 0 1rem 0;
}

.cart-container, .confirmation-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0 1rem 0;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.cart-container {
    text-align: right;
}

.confirmation-container {
    text-align: left;
}




.cartstuff-container{
    padding: 3rem 0 3rem 2rem;
}

.cart-total{
    padding: 0 0 2rem 0;
}

.float-left{
    float: left;
    display: inline;
}


/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

section h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700; 
  font-size: 2.5em;
  color: #333;
  text-transform: uppercase;
}

h2, section h2.style1, section h2.style2 {
  font-family: 'Karla', serif;
  font-weight: 700;
  font-size: 3.4em;
  line-height: 1em;
  margin: 0 0 1rem 0;
}

section h2.style1 {
  color: white;
  padding: 0;
}



section h2.style2 {
  margin-top: 1rem;
  line-height: 1.1em;
  padding-left: 4rem;
}

section h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .06rem;
  margin: 0;
}




section h3.style1, section h3.style2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .05em;
  color: white;
  margin: .5rem 0 0.5em 0;
}

@media (max-width: 70em) {
    
    section h2.style1{
        font-size:6vw;
    }
    
    section h3.style1, section h3.style2, .image-icon {
          font-size: 2vw;
    }
    
   
}

@media (max-width: 40em) {
    section h3.style1, section h3.style2 {
          font-size: 3vw;
    }
}

section h3.style1 {
  color: white;
}

section h3.style2 {
  text-align: center;
  color: #000;
}

@media (max-width: 35em) {

  section h2{
    font-size: 2rem;
  } 

  section h3{
    font-size: .9rem;
  } 

}



h4, section h4, section h4.style2, section h4.style3 {
  font-family: 'Roboto-medium', sans-serif;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: #3d3d3d;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

h4{
  margin-top: 2.5rem;
}


section h4.style2 {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

section h4.style2:hover {
  color: #FB5A5A;
  cursor: pointer;
}

section h4.style3{
    text-align: center;
    color: #FB5A5A;
}

section h5 {
  font-family: 'Roboto-medium', sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding:0;
}

section p {
    font-size: 1rem;
    line-height: 1.8em;
}

section p.style2{
  margin: 1rem auto 2rem auto;
  font-size: 1rem;
}

p.cart-paragraph {
  line-height: 0.75em;
}


.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

figure {
    display: inline;
    float: left;
    margin: 0;
    width: 100%;
}


.product-listing-background, .explore-background{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2vw;
    z-index: -1;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    background-image: linear-gradient(to right,transparent 0.1%, #FB5A5A 0.1%, #FB5A5A 50%, transparent 50%, transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease;
}

.explore-background{
    width: 105%;
    padding: 1rem 2rem 1rem 2rem;
}

.product-listing-background{
    padding-right: 1rem;
}

.explore-background h3{
    font-size: 1rem;
}



@media (max-width: 90em) {
    
    .product-listing-background{
            margin-top: 5vw;
            margin-right: 3em;
    }

}

.product-listing:hover .product-listing-background{
    background-position: 0 0;
    color: white;
    
}

.explore-listing-hover h3{
    margin: 0;
    padding: 0;
    transition: all .5s ease;
}

.explore-listing-hover:hover .explore-background{
    background-position: 0 0;
}

.explore-listing-hover:hover h3{
    color: white;
}


.product-listing:hover img{
    cursor: pointer;
    -webkit-filter: sepia(.5) hue-rotate(-30deg);
    filter: sepia(.5) hue-rotate(-30deg);
}

.explore-listing img:hover{
    cursor: pointer;
    -webkit-filter: sepia(.5) hue-rotate(-30deg);
    filter: sepia(.5) hue-rotate(-30deg);
}




.product-listing{
    position: relative;
}



.product-listing img{
    margin: 1em;
    width: 50%;
}

.product-listing-caption{
    width: 42%;
    right: 2em;
    margin-right: 2em;

}

@media (max-width: 90em){

  .2-grid-clear{
    clear: both;
  }

}

@media (min-width: 90em){

  .3-grid-clear{
    clear: both;
  }
}


    
figcaption, h3.figure {

  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  margin-top: 0em;
  padding: 0vw 0 0 0; 
  z-index: 1000;

}

@media (max-width: 60em) {
    
    .product-listing-background{
      margin-top: 1.2vw;      

    }
}

@media (max-width: 30em){
    
    .product-listing-background{
      margin-top: 2vw;      

    }
}

@media (max-width: 40em) {
  form {
    width: 100%;
  }
  input[type=text] {
    width: 100%; 
  }
}

.grid-col-12of12 figcaption, .grid-col-6of12 figcaption{
    position: relative;
    left:-12rem;
    width: 125%;
    font-size: 3.8vw;
    padding-top: 4vw;
}

.grid-col-6of12 figcaption{
    left:-14rem;
     width: 150%;
    font-size: 3.2vw;
    padding-top: 3vw;
}


.explore-listing-hover{
    z-index: 1002;
}

@media (max-width: 80em){
    
    .explore-listing-hover p{
        
     
    }
}


@media (max-width: 68em){
   
    .grid-col-6of12 figcaption{
    left:-12rem;
     width: 125%;
    font-size: 3.8vw;
    padding-top: 4vw;
    } 
}



@media (max-width: 45em) {
    
    .grid-col-12of12 figcaption, .grid-col-6of12 figcaption{
        font-size: 5vw;
        width: 140%;
        left: -9rem;
    }
}


.explore-listing p{
    font-size: .9rem;
}


h3.figure {
    display: inline;
}

ul{
  list-style-type: none;
  list-style-position:inside;
  margin-left:0;
  padding:0;
}

li {
  margin-top: 0.7em;
}

ul.test {
  list-style-type: none;
  list-style-position:inside;
  margin-left:0;
  padding:0;
  text-align: center;
}

li.test {
  margin: 0;
}


ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

#myTopnav{
  display: block;
  margin: 1rem 0 0 0;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.button-nav {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .15rem;
  padding: 1rem .75rem 1rem .75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}

.box{
    background: white;
}

.box-item-hamburger{
  display: none;
}

  .box-item-logo{
    margin: 0 0 0 2rem;
  }




@media (max-width: 68em) {

    
  .box-item-hamburger{
    display:inline; 
    margin: .7vw 0 0 0 ;

  }

  #myTopnav{
    display: none;
    width: 100%;
  }

  .button-nav {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem 0 1rem 0;
        display: block;
  }
    section h3{
        font-size: 1.6rem;
    }
    
    section h2.style2 {
      font-size:3rem;
    }
    .explore-listing p{
      font-size:14px;
    }

}


.nav-main-item {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.product-listing{
    position: relative;
    padding-right: 2rem;
}



.product-listing img{
    margin: 1em;
    width: 50%;
}

.product-listing-caption{
    position: absolute;
    width: 42%;
    right: 2em;
    top: 1vw;

}

.button-nav:active, .button-nav:hover, .button-nav:focus, 
.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
  -webkit-transition: color 0.4s;
  color: #FB5A5A;
}

.textlink {
  color: #FB5A5A;
}

.button, .button-dark, .button-red {
  display: inline-block;
  border: 2px solid white;
  margin-top: 1em;
  padding: 1rem 2rem;
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s ease-out;
}



.button-dark {
  border: 2px solid black;
  color: black;
}

.button-red{
  background-color: #FB5A5A;
  color: white;
}



.explore-listing .button{
    color:#2b2b2b;
      border: 2px solid #939393;
}

.button-red:hover{
  background-color: #F5F5F5;
  color: #FB5A5A;
}

.button:hover {

  background-color: #F5F5F5;
  color: #FB5A5A;
}

.button-dark:hover {

  background-color: #F5F5F5;
  color: #FB5A5A;
  border-color: #FB5A5A;
}

.dropdown {
  display: block;
  position: relative;
  padding-bottom: 1em;
}

.dropdown-content {
  display: none; /*do not display until on mouse-hover*/
  font-family: 'Karla', sans-serif;
  font-size: 0.8em;
  position: absolute;
  background-color: #f9f9f9;
  text-decoration: none;
  width: 100%;
}

.dropdown-content a {
  color: #202021;
  padding: 0.5em 0.75em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1

}

.dropdown:hover .dropdown-content {
  display: block;
  border: 2px solid #333;
  width: 100%
}

.dropdown-content a:hover {
  background-color: #EEE;
}


input.quantity, input.newsletter, .dropdown-select {
  display: block;
  border: 2px solid #333;
  background-color: #f7f7f7;
  font-family:'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: .75em;
  padding: 1rem 1rem 1rem 1rem;
  color: black;
  letter-spacing: .15rem;
}

input.quantity {
  resize: horizontal;
  width: 4em;
  text-align: center;
}

input.newsletter {

  text-align: left;
}


input.quantity:focus, input.newsletter:focus {
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
  outline-width: 0;
  border-color: #FB5A5A;
}




/* 
  COMBINED ELEMENTS -------------------
*/

img {
    height: auto;
    width: auto;
    max-width: 100%;
        float: left;

}