/*
  STYLE GUIDE STYLING 
*/
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  background-color: #f7f7f7;
}

section:not([id]) {
  padding: 0.5em 0;
  border-top: 1px dotted #333;
}


#hero-hammock{
  width: 100%;
  display:inline-block;
  position: relative;
}

#hero-hammock img {
  width: 100%;
  display: block;
}

.hero-padding{
  width: 30%;
  position: absolute;
  left: 8vw;
  top: 8vw;
}

#explore-main{

}


/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Karla', sans-serif;
}

section h1 {
  font-family: 'Karla', sans-serif;
  font-size: 2.5em;
  color: #333;
  text-transform: uppercase;
}

section h2 {
  font-family: 'Karla', serif;
  font-size: 3.4em;
  color: white;
  margin: 0;
  padding: 0;
}

section h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .05em;
  line-height: 1.6rem;
  color: white;
  margin: 01em 0 0.5em 0;
}


section h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 0;
}

section h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

figure {
  display: inline-block;
}

figcaption, h3.figure {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  margin-top: 0.5em;
}

h3.figure {
  color: #FB5A5A;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

.button-nav {
  display: inline-block;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  padding-left: 0;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.nav-main-item {
  display: inline-block;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.button-nav:active, .button-nav:hover, .button-nav:focus, 
.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
  -webkit-transition: color 0.4s;
  color: #FB5A5A;
}

.textlink {
  color: #FB5A5A;
}

.button {
  display: inline-block;
  border: 2px solid white;
  margin-top: 1em;
  padding: 1em 2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
 -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s ease-out;
  background-color: #F5F5F5;
  color: #FB5A5A;
}

input {
  display: inline-block;
  width: 250px;
  height: 30px;
  color: #F5F5F5;
  margin: 1em;
  padding-left: 1em;
}


/* 
  COMBINED ELEMENTS -------------------
*/

img {
  height: auto;
  width: auto;
  max-width: 100%;

}
