/*
  STYLE GUIDE STYLING 
*/
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  background-color: #f7f7f7;
}

a{
  text-decoration: none;
  color: black;
}

section:not([id]) {
  padding: 0.5em 0;
  border-top: 1px dotted #333;
}


#hero-hammock{
  width: 100%;
  display:inline-block;
  position: relative;
}

#hero-hammock img {
  width: 100%;
  display: block;
}

.hero-padding{
  width: 30%;
  position: absolute;
  left: 8vw;
  top: 8vw;
}

@media (max-width: 45em) {

  .hero-padding{
    width: 100%;
    text-align: center;
    padding: 0 3vw 0 3vw;
    left: 0;
    top: 5vw;
  } 

}

#explore-main{

}

.explore-container {
  margin: auto;
  width: 80%;
}



.product-description{
  clear:left;
  text-align: left;
  margin: auto;
  width: 70%;
  line-height: 1.7em;
}

.product-extra-info{
  clear:left;
  text-align: left;
  margin: auto;
  padding-bottom: 2em;
  width: 70%;
  line-height: 1.7em;
}

.BLAH {
  text-align: center;
  margin: auto;
  width: 20%;

}

#footer {
  background:#EEE;
  display: block;
  width:100%;
  height:15em;
  margin-top: 5em;
  clear: both;

}

.image-product-detail {
  height: auto;
}

.redcolor {
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #83a0a4;
  text-align: left;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

section h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700; 
  font-size: 2.5em;
  color: #333;
  text-transform: uppercase;
}

section h2.style1, section h2.style2 {
  font-family: 'Karla', serif;
  font-weight: 700;
  font-size: 3.4em;
  margin: 0;
}

section h2.style1 {
  color: white;
  padding: 0;
}
section h2.style2 {
  text-align: center;
  color: #000;
  padding-top: 0.75em;
}

section h3.style1, section h3.style2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .05em;
  line-height: 1.6rem;
  color: white;
  margin: 01em 0 0.5em 0;
}


section h3.style1 {
  color: white;
}

section h3.style2 {
  text-align: center;
  color: #000;
}

@media (max-width: 35em) {

  section h2{
    font-size: 2rem;
  } 

  section h3{
    font-size: .9rem;
  } 

}



section h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 0;
}

section h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0;
}

section p {

    margin: 1em;
    font-size: .8em;
    line-height: 1.8em;
}





figure {
    display: inline;
    float: left;
    margin: 0;
    width: 100%;
}

.product-listing-background{
    z-index: -999;
    margin-top: 2vw;
    padding-bottom: 2em;
    margin-right: 1em;
    background-image: linear-gradient(to right,transparent 0.1%, #FB5A5A 0.1%, #FB5A5A 50%, transparent 50%, transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    
}

@media (max-width: 90em) {
    
    .product-listing-background{
            margin-top: 5vw;
            margin-right: 3em;


    }

}

.product-listing:hover .product-listing-background{
    background-position: 0 0;
    
}
    
figcaption, h3.figure {

  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
  margin-top: 0.5em;
}

h3.figure {
    display: inline;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

#myTopnav{
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.button-nav {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .15rem;
  padding: 1rem .75rem 1rem .75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}

.box-item-hamburger{
  display: none;
}

  .box-item-logo{
    margin: 0 0 0 2rem;
  }

@media (max-width: 35em) {

  .box-item-hamburger{
    display:inline; 
  }

  #myTopnav{
    display: none;
    width: 100%;
  }

  .button-nav {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    display: block;
  }



}


.nav-main-item {
  display: inline-block;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
}

.product-listing{
    position: relative;
}



.product-listing img{
    margin: 1em;
    width: 50%;
}

.product-listing-caption{
    position: absolute;
    width: 42%;
    right: 2em;
    top: 1vw;

}

.button-nav:active, .button-nav:hover, .button-nav:focus, 
.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
  -webkit-transition: color 0.4s;
  color: #FB5A5A;
}

.textlink {
  color: #FB5A5A;
}

.button {
  display: inline-block;
  border: 2px solid white;
  margin-top: 1em;
  padding: 1em 2em;
  color: white;
  font-family: 'Karla', sans-serif;

  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}

.cart-button {
  display: inline-block;
  border: 2px solid black;
  margin-top: 1em;
  padding: 1em 2em;
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15rem;
}

.button:hover {
 -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s ease-out;
  background-color: #F5F5F5;
  color: #FB5A5A;
}

.cart-button:hover {
   -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s ease-out;
  background-color: #F5F5F5;
  color: #FB5A5A;
  border-color: #FB5A5A;
}

input[type=text] {
  display: inline-block;
  resize: horizontal;
  width: 4em;
  border: 2px solid black;
  background-color: #f7f7f7;
  font-family:'Karla', sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin: 1em 1em 0 0;
  padding: 1em 1em;
  color: black;
}

input[type=text]:focus {
  -webkit-transition: background-color 0.4s, color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
  outline-width: 0;
  border-color: #FB5A5A;
}



/* 
  COMBINED ELEMENTS -------------------
*/

img {
    height: auto;
    width: auto;
    max-width: 100%;
}