/* STYLE GUIDE STYLING */


body { 
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  background-color: #f7f7f7;
  overflow-x: hidden;
  padding: 3rem;
}

section:not([id]) {
  padding: 0 0 2em 0;
  border-bottom: .1rem dotted #333;
}

section.grids {
	border-bottom: 0rem;
}

h1.coral{
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	font-size: 2.2rem;
	color: #FB5A5A;
}

h1 {
  font-family: 'Karla', sans-serif;
  color: #333;
  font-size: 3rem;
  text-decoration: 0;
}

section h2{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 1rem;
}

section h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333;
  padding: 1.2rem 0 .2rem 0;
  letter-spacing: .06rem;

}

section h3.white{
  color:white;
}

section p {
   font-size: 1rem;
   font-weight: 300;
   padding: 0;
   color: black;
}

section p.white{
	color:white;
}

section code{
	padding-bottom: 2rem;
}

.textlink {
  color: #FB5A5A;
  font-family: 'Karla';
}

.light-grey{
	display: inline-block;
	margin: 0;
	padding: 3rem 0;
	text-align: center;
	width: 15rem;
	height: 12rem;
	background-color: #f7f7f7;
}

.dark-grey{
	display: inline-block;
	margin: 0;
	padding: 3rem 0;
	text-align: center;
	width: 15rem;
	height: 12rem;
	background-color: #333;
}

.bright-coral{
	display: inline-block;
	margin: 0;
	padding: 3rem 0;
	text-align: center;
	width: 15rem;
	height: 12rem;
	background-color: #FB5A5A;
}

.box {
	width: 70%;
	float: center;
}

.button-nav {
  display: inline-block;
  background-color: white;
  color: #333;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .15rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}

.button-red{
  background-color: #FB5A5A;
  border: 2px solid #f5f5f5;
  color: white;
  margin-bottom: 2.5em;
  float: left;
}


.button-dark {
  border: 2px solid black;
  color: black;
  margin-bottom: 2.5em;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 2px solid #333;
  width: 20%
}

input.newsletter, button.dropdown-select {
  width: 20%;
  text-align: left;
}